version: 2.1
executors:
  docker-publisher:
    environment:
      IMAGE_NAME: divyamoilla/hello-world
    docker:
      - image: circleci/buildpack-deps:stretch
jobs:
  build:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build -t divyamoilla/hello-world:latest .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar divyamoilla/hello-world
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar
  publish-latest:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "divya@2662" | docker login -u "divyamoilla" --password-stdin
            IMAGE_TAG="0.0.${CIRCLE_BUILD_NUM}"
            docker tag divyamoilla/hello-world:latest divyamoilla/hello-world:latest
            docker push divyamoilla/hello-world:latest
            docker push divyamoilla/hello-world:latest
  publish-tag:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "divya@2662" | docker login -u "divyamoilla" --password-stdin
            IMAGE_TAG=${CIRCLE_TAG/v/''}
            docker tag divyamoilla/hello-world:latest divyamoilla/hello-world:latest
            docker push divyamoilla/hello-world:latest
            docker push divyamoilla/hello-world:latest
