version: 2.1
executors:
  docker-publisher:
    environment:
      IMAGE_NAME: divyamoilla/hello
    docker:
      - image: circleci/buildpack-deps:stretch
jobs:
  build:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build -t divyamoilla/hello:latest .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar divyamoilla/hello
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar
  publish-latest:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "divya@2662" | docker login -u "divyamoilla" --password-stdin
            IMAGE_TAG="0.0.${CIRCLE_BUILD_NUM}"
            docker tag divyamoilla/hello:latest divyamoilla/hello:latest
            docker push divyamoilla/hello:latest
            docker push divyamoilla/hello:latest
  publish-tag:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "divya@2662" | docker login -u "divyamoilla" --password-stdin
            IMAGE_TAG=${CIRCLE_TAG/v/''}
            docker tag divyamoilla/hello:latest divyamoilla/hello:latest
            docker push divyamoilla/hello:latest
            docker push divyamoilla/hello:latest
workflows:
  version: 2
  build-master:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - publish-latest:
          requires:
            - build
          filters:
            branches:
              only: master
  build-tags:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - publish-tag:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
